canvas{
    background-color:lightblue;
    margin:100px;
    
}

.button{

    margin-left:50px;
    margin-top:20px;
    width: 123px;
    height:60px;
    color:white;
    background-color:black;
    border-style:none;
    font-size:15px;
    font-weight:bold;
    padding:15px;
    border-radius:10px;
    cursor: pointer;
    transition:opacity 0.15s;

}


.ratation-logo:hover{
    opacity:0.8;
}

.images{
    display:none;
}